/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/09/2014, 03:43:11 PM
    Author     : MarcoAntonio
*/

* {
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
}

form {
    width: 400px;
    height: 350px;
    margin: 50px auto;
    border: 1px solid #0099ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 5px 5px 1px #fff,
        5px 5px 1px #0099ff
        ;
}

h1{
    color: #0066ff;
    font-weight: normal;
    margin: 15px auto;
    position: relative;
}
h1:after, h1:before{
    content: "";
    height: 1px;
    position: absolute;
    top: 20px;
    width: 80px;
}
h1:after{
    background-image: -webkit-gradient(linear, left top, right top, from(#0066ff), to(#fff));
    background-image: -webkit-linear-gradient(left, #0066ff, #fff);
    background-image: -moz-linear-gradient(left, #0066ff, #fff);
    background-image: -ms-linear-gradient(left, #0066ff, #fff);
    background-image: -o-linear-gradient(left, #0066ff, #fff);
    background-image: linear-gradient(left, #0066ff, #fff);      
    right: 0;
}
h1:before{
    background-image: -webkit-gradient(linear, right top, left top, from(#0066ff), to(#fff));
    background-image: -webkit-linear-gradient(right, #0066ff, #fff);
    background-image: -moz-linear-gradient(right, #0066ff, #fff);
    background-image: -ms-linear-gradient(right, #0066ff, #fff);
    background-image: -o-linear-gradient(right, #0066ff, #fff);
    background-image: linear-gradient(right, #0066ff, #fff);
    left: 0;
}

input{
    margin: 10px auto;
    color: #999;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc;
}
input[type="text"]{
    background: url(../icons/login-user.png) no-repeat;
    width: 300px;
    height: 30px;
}
input[type="password"]{
    background: url(../icons/login-pass.png) no-repeat;
    width: 300px;
    height: 30px;
}

#rem{
    margin: 5px 40px;
    text-align: left;
}
input[type="checkbox"]{
    margin: auto 6px;
}

button {
    width: 125px;
    margin: 30px;
    height: 35px;
    border: 1px solid #ccc;
    color: #fff;
    font-size: medium;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 2px 2px 0px #ccc;
    -moz-box-shadow: 2px 2px 0px #ccc;
    -webkit-box-shadow: 2px 2px 0px #ccc;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#7373FF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #7373FF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #7373FF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #7373FF);
    background-image: -o-linear-gradient(top, #FFFFFF, #7373FF);
    background-image: linear-gradient(top, #FFFFFF, #7373FF);
}
button:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7373FF), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #7373FF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #7373FF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #7373FF, #FFFFFF);
    background-image: -o-linear-gradient(top, #7373FF, #FFFFFF);
    background-image: linear-gradient(top, #7373FF, #FFFFFF);
}

form a{
    margin:45px;
    color: #2626FF;
}
